@model s1110834035_NetFinal.Models.Photos
@{
    ViewData["Title"] = "Delete Photo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>刪除相片</h2>

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">確定要刪除這張相片嗎?</h4>
    <p>這個動作將無法復原。請確認是否真的要刪除此相片。</p>
    <hr>
    <div class="mb-0">
        <dl class="row">
            <dt class="col-sm-2">相片名稱:</dt>
            <dd class="col-sm-10">@Model.PhotoName</dd>
            <dt class="col-sm-2">描述:</dt>
            <dd class="col-sm-10">@Model.Description</dd>
            <dt class="col-sm-2">相片路徑:</dt>
            <dd class="col-sm-10">@Model.FilePath</dd>
            <dt class="col-sm-2">相簿:</dt>
            <dd class="col-sm-10">@Model.AlbumId</dd>
        </dl>
    </div>

    @using (Html.BeginForm("DeleteConfirmed", "NetFinal", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.AlbumId)
        <button type="submit" class="btn btn-danger">確定</button>
        <a href="@Url.Action("photograph", new { cid = Model.AlbumId })" class="btn btn-secondary">取消</a>
    }
</div>
