@model s1110834035_NetFinal.ViewModels.ImgIndexVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @{
            int x = 0;
            foreach (var item in Model.ImgList)
            {
                if (x == 0)
                {
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src='@Url.Content("~/images/"+item.ImgF)' class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>守護您的信賴</h3>
                            <p>熱血工作者，做客戶的堅強後盾，服務一步到位</p>
                        </div>
                    </div>
                }
                else
                {
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src='@Url.Content("~/images/"+item.ImgF)' class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>廉價建霖 您最佳的選擇</h3>
                            <p>後製包含瑕疵處理、調色、修片、去背、轉檔...等</p>
                        </div>
                    </div>
                }
                x++;
            }
        }
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="row justify-content-center g-0">
    @if (Model.PhotoList.Count() > 0)
    {
        foreach (var item in Model.PhotoList)
        {
            <div class="col-sm-6 col-md-4 col-xl-4">
                <div class="card" style="position: relative; overflow: hidden;">
                    <img src="@Url.Content("~/images/" + item.FilePath)" class="card-img-top" style="width: 100%;">
                    <div class="card-body overlay">
                        <h3>@item.PhotoName</h3>
                        <p>作者: @item.UserId</p>
                        <p class="date">上傳日期: @item.UploadDate</p>
                    </div>
                </div>
            </div>
        }
    }
</div>
